# IntelliJ IDEA
.idea/

# Maven
target/
mvnw
mvnw.cmd

# Spring Boot
*.iml
*.ipr
*.iws
out/

# Logs
logs/
*.log

# Package Files
*.jar
*.war
*.ear

# IDE-specific
.vscode/
*.sublime-project
*.sublime-workspace

# Others
.DS_Store

# WebStorm
.idea/

# Node.js
node_modules/

# Build
/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Others
.DS_Store

# 排除主配置文件
/src/main/resources/application.yml
# 排除SSL证书配置
/src/main/resources/jks-password.txt
/src/main/resources/www.limou.love.jks
